@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<div class="text-center">
    <h1 class="display-4">Welcome idiot</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="Movies">Go to Movies</a>

@*<p class="p1">lorem ipsum dolor sit amet</p>*@
<button type="button" class="btn btn-info">Click me to hide paragraphs</button>

